
<h1> Boutiques  Directory</h1>


<div class="pagination">
<%= alphabetical_paginate @alphaParams %>
        <div id="pagination_table">
        <% @boutiques.each do |boutique| %>

          <% end%>
        </div>


<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <div class="row"><tr>
         <div class="col-sm-2" style="background-color:lavender;"><th>Name</th></div>  
         <div class="col-sm-8" style="background-color:lavenderblush;"><th>Website</th></div>
        </tr>
      </thead>






      <tbody>
        
        <% @boutiques.each do |boutique| %>
        <tr class="row-links">
          <td><%= link_to boutique.name, boutique %></td>
          <td><%= boutique.website %></td>
        </tr>
        <% end %>
      </div>
      </tbody>
    </table>
  </div>
</div>


<h3>Import Boutiques</h3>
<%= form_tag import_boutiques_path, multipart: true do%>
  <%= file_field_tag :file%>
  <%= submit_tag "Upload" %>
<% end %>
<%= link_to 'New Boutique', new_boutique_path %> 




