<div align="center">
  <h1>Send us a message</h1>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">

  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, label_html: {class: 'input'},  :required => true, input_html: {class: 'form-control'} %>
    <%= f.input :email, :required => true, input_html: {class: 'form-control'} %>
    <%= f.input :message, :as => :text, :required => true, input_html: {class: 'form-control'} %>
    <%= f.input :shipping_country, priority: [ "Brazil" ], collection: [ "Australia", "Brazil", "New Zealand"]%>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>
</div>